*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{ 
    background: #d4eed3;
    min-height: 100vh;
}

.container{
    display: block;
    min-height: 100vh;
}
.header{
    width:100%;
    display: flex;

}
.side-nav{
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: seagreen;
    padding: 30px 15px; 
}
.side-nav-category-main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    width: 100%;
}
.brand {
    font-size: large;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.brand h1 {
    font-family: 'Merriweather', serif;
}

.brand .image {
    width: 70px;
    height: 70px;
    background-image: url('../images/app-logo.webp');
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

.back-main-page{
    position:absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.back-main-page a{
    text-align: center;
    text-decoration: none;
    color: black; 
    font-size: 20px; 
    border-radius: 8px;
    padding: 8px 15px;
}
.back-main-page a:hover{
    background-color: whitesmoke;
    color: black;
}

.category h2 {
    font-size: 20px;
    color: #023D54;
    margin-bottom: 15px;
    margin-top: 15px;

}
.category-link {
    display: flex;
    text-decoration: none;
    color: #023D54;
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    justify-content: flex-s;

}

.category-link:hover {
    background-color: whitesmoke;
    color: #023D54;
}

/*main content*/
.main-content {
    margin-left: 280px; /* Robi miejsce dla paska bocznego */
    padding: 20px;
    flex-grow: 1;

}

.box-title{
    font-family: 'Merriweather', serif;
    font-size: 23px;
    color: #023D54;
}

.appointment-box {
    background-color: mintcream;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 6px;
}

.table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 13px;
}

.table th {
    background-color: rgb(68, 172, 113);
}

.confirm-button{
    background-color: #023D54;
    color: white;
    border-radius: 8px;
    border: none; 
    transition: all 0.2s ease;
    padding: 8px 15px;
}

.confirm-button:hover{
    background-color: #137196;
}
.confirm-button:active{
    transform: scale(0.95);
}


/*calendar */
.calendar-box{
    background-color: mintcream;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 6px;
}

.fc-toolbar-title {
    font-family: 'Merriweather', serif;
    font-size: 23px;
    color: #023D54;
}

/*ten pasek u góry tabelki kalendarza */
.fc-col-header {
    background-color: rgb(68, 172, 113);
    color: black; 
    font-size: 13px;
}

/*wydarzenia w kalendarzu*/
.fc-event {
    font-size: 12px; /* Możesz również zmniejszyć czcionkę całego wydarzenia */
}
.fc-event-title {
    font-size: 12px; /* Zmniejsza czcionkę tytułu */
    white-space: nowrap; /* Zapobiega zawijaniu tekstu w tytule */
    overflow: hidden; /* Ukrywa nadmiarowy tekst, jeśli jest zbyt długi */
}


.tooltip {
    font-size: 10px;
    position: absolute;
    z-index: 9999;
    background: rgb(68, 172, 113);
    color: white;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
}
.tooltip b{
    color: #023D54;
}

























