* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: whitesmoke;
}
.header{ 
    width: 100%;
    background-color: seagreen;
    padding: 20px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    margin-bottom: 90px;
}
.header .container-header{ 
    justify-content: space-between;
    align-items: center;
    display: flex;

}

.brand {
    text-align: center;
    color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: xx-large; 
}

.back-main-page a{
    text-decoration: none;
    color: black; 
    font-size: 20px; 
}
.back-main-page i {
    font-size: 20px; 
    margin-right: 5px; 
}

.back-main-page a:hover{
    background-color: whitesmoke; 
    color: black; 


}
.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: green;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    padding: 20px;
}










.appointment-box {
    background-color: mintcream;
    border-radius: 10px;
    border: 1px solid darkgrey;
    padding: 40px;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Usuwa odstępy między komórkami */
    margin-top: 20px;
}

/* Styl nagłówków tabeli */
th {
    background-color: darkolivegreen; /* Kolor tła nagłówków */
    color: white;
    padding: 10px; /* Padding wewnętrzny nagłówków */
    text-align: left; /* Wyrównanie tekstu w nagłówkach */
}

/* Styl komórek tabeli */
td {
    background-color: mintcream;
    border: 1px solid darkgrey;
    padding: 15px;
    text-align: left; /* Wyrównanie tekstu w komórkach */
}

button {
    width: auto; /* Change this to auto */
    min-width: 100px; /* Optional: Set a minimum width */
    padding: 3px 10px; /* Adjust padding for better look */
    border-radius: 5px;
}
.small-button {
    margin-top: 15px;
    align-self: center;
    font-size: 1em;
    text-decoration: none;
    color: black;
}


